{% extends 'base.html' %}

{% block content %}
<div class="container row m-auto justify-content-center">
        <img style="width: 200px; border-radius: 50%;" src="https://www.pngkit.com/png/detail/300-3004396_person-1824147-640-icon-user.png"
             alt="{{ request.user.username }}">
    <ul>
        <li>Username: {{ request.user.username }}</li>
        <li>First Name: {{ request.user.first_name }}</li>
        <li>Last Name: {{ request.user.last_name }}</li>
    </ul>
</div>
{% endblock content %}